.employee-form {
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__image {
    &-container {
      background-color: var(--bg-light);
      width: 50%;
      padding-right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;

      p {
        margin: 1.5rem 0;
        font-size: 1.5rem;
        color: var(--color-text-secondary);
      }
    }
  }

  @media (min-width: 700px) {
    &__image {
      &-container {
        display: flex;
      }
    }
  }
}
