.footer {
  padding: 1.6rem 0;
  background-color: var(--bg-light);
  border-top: 1px solid var(--color-border);
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  margin-top: auto;
}
